<div class="row">
<div class="col-2 col l10 offset-l1">
	<h4 class="col l2">SUBJECTS</h4>
	<h4 class="col l2 offset-l7">New Subject</h4>
	<a class="add-subject btn-floating btn-large waves-effect waves-light light-blue darken-1"><i class="material-icons">add</i></a>
</div>
</div>
<div id="subject-display" class="row subject-display">
<div class="subject-text col l10 offset-l1">
<%= render "subjects/form" %>
</div>
</div>

<% @subjects.each do |subject| %>

<div class="row">
 <ul class="collapsible col l10 offset-l1" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
      <%= form_for @subject do |f| %>
      <div class="row">
      <div class="col l10">
      	 <%= f.text_field :name, :value =>subject.name, class:"name-field" %>
      	 <%= hidden_field_tag :subject_id, subject.id %>
      </div>
      <div class="col l2">
      <%= link_to 'mode_edit',subject_path(subject,name: :name, :id => subject.id), method: :put, remote: true, class:"edit-subject material-icons" %>
      	<%= link_to 'delete', subject, method: :delete, data: { confirm: 'Are you sure?' },  class:"delete material-icons" %>
      </div>
      </div>
      </div>
      <div class="collapsible-body">
	  <div class="add-header"><div class="row"><a class="add-topics-button right btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a></div>
	  </div>
      <% end %>
      <div id="add-topic" class="section add-topic">
      <%= form_for @topics do |f| %>
      <div class="row">
      <div class="col l11">
      <%= f.text_field :name, class:"name-field" %>
       <%= f.hidden_field :subject_id, :value =>subject.id %>
       </div>
       <div class="col l1">
       <%= f.submit '+', class:"btn-floating btn-large waves-effect waves-light light-blue darken-1" %>
       </div>
      <% end %>
      </div>
      </div>
      <% subject.topics.each do |topics| %>
		
		<div class="row">
      <div class="col l10">
      	 <%= topics.name %>
      </div>
      <div class="col l2">
      <%= link_to 'mode_edit', topics, method: :put, class:"edit-subject material-icons" %>
      	<%= link_to 'delete', topics, method: :delete, data: { confirm: 'Are you sure?' },  class:"delete material-icons" %>
      </div>
      </div>
      <% end %>
      </div>
      </div>
    </li>
  </ul>
</div>
  <% end %>
<%#= render "topics/new" %>