<!DOCTYPE html>
<html>
  <head>
    <title>EzVidya</title>
    <%= csrf_meta_tags %>
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="//db.onlinewebfonts.com/c/0f56c874ba695191e7f4cab237447698?family=Futura" rel="stylesheet" type="text/css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/header" %>
    <%= yield %>
  </body>
</html>
